body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  padding: 0 1rem;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  position: fixed;
  padding: 0.5rem 1rem;
  bottom: 0;
  right: 0;
}

footer span {
  font-weight: 500;
  font-size: 18px;
  color: #626262;
}
footer img {
  margin-left: 0.5rem;
  width: 140px;
}